Repository corda/corda, pull requests merged in 2019-07, with the labels that each got.

#5268 Fixed typos in accounts design docs
  docs/source/design/accounts/accounts.md
Labels: docs

#5250 DOCS - Fix broken url to reconnecting rpc code
  docs/source/clientrpc.rst
Labels: docs

#5277 ENT-3710 Add `TransientConnectionCardiologist` to Flow Hospital
  docs/source/node-flow-hospital.rst
  node/src/integration-test/kotlin/net/corda/node/flows/FlowRetryTest.kt
  node/src/main/kotlin/net/corda/node/services/statemachine/StaffedFlowHospital.kt
Labels: bug

#5280 DOCS - use signInitialTransaction instead of toSignedTransaction in tutorial docs
  docs/source/tutorial-contract.rst
Labels: docs

#5278 BACKPORT - docs reconnecting rpc correct link
  docs/source/clientrpc.rst
Labels: Backport, docs

#5266 BACKPORT - cordapp configuration hotswap docs correction
  docs/source/cordapp-build-systems.rst
Labels: Backport, docs

#5305 CORDA-3083: Backport dumpCheckpoints shell command
  client/jackson/src/main/kotlin/net/corda/client/jackson/StringToMethodCallParser.kt
  client/rpc/src/main/kotlin/net/corda/client/rpc/CordaRPCClient.kt
  core/src/main/kotlin/net/corda/core/internal/messaging/InternalCordaRPCOps.kt
  core/src/test/kotlin/net/corda/core/flows/ContractUpgradeFlowTest.kt
  docs/source/changelog.rst
  docs/source/upgrading-cordapps.rst
  node/src/main/java/net/corda/node/shell/RunShellCommand.java
  node/src/main/kotlin/net/corda/node/internal/AbstractNode.kt
  node/src/main/kotlin/net/corda/node/internal/CordaRPCOpsImpl.kt
  node/src/main/kotlin/net/corda/node/internal/RpcAuthorisationProxy.kt
  node/src/main/kotlin/net/corda/node/internal/SecureCordaRPCOps.kt
  node/src/main/kotlin/net/corda/node/services/api/CheckpointStorage.kt
  node/src/main/kotlin/net/corda/node/services/persistence/DBCheckpointStorage.kt
  node/src/main/kotlin/net/corda/node/services/rpc/CheckpointDumper.kt
  node/src/main/kotlin/net/corda/node/shell/CordaAuthenticationPlugin.kt
  node/src/main/kotlin/net/corda/node/shell/CordaSSHAuthInfo.kt
  node/src/main/kotlin/net/corda/node/shell/InteractiveShell.kt
  node/src/main/kotlin/net/corda/node/shell/RPCOpsWithContext.kt
  node/src/test/kotlin/net/corda/node/CordaRPCOpsImplTest.kt
  testing/node-driver/src/main/kotlin/net/corda/testing/node/internal/InternalMockNetwork.kt
Labels: Backport

#5311 Backport checkpoint dumper part 2
  node/src/main/java/net/corda/node/shell/RunShellCommand.java
Labels: Backport

#5316 DOCS - Point network bootstrapper url to the artifactory download location
  docs/source/network-bootstrapper.rst
Labels: docs

#5275 CORDA-2920 Hash to Signature Constraint automatic propagation
  core-tests/src/test/kotlin/net/corda/coretests/transactions/TransactionBuilderTest.kt
  core/src/main/kotlin/net/corda/core/transactions/TransactionBuilder.kt
  node/src/integration-test/kotlin/net/corda/contracts/SignatureConstraintVersioningTests.kt
Labels: enhancement

#5330 BACKPORT - Update UAT.md docs to remove specific information
  docs/source/corda-network/UAT.md
Labels: Backport, docs

#5338 Contract tutorial update and Contributors list update
  CONTRIBUTORS.md
  docs/source/tutorial-contract.rst
Labels: docs

#5193 Added accounts design doc.
  docs/source/design/accounts/accounts.md
  docs/source/design/accounts/tables.png
Labels: design

#5333 CORDA-2871: Restore CompositeKey support to core-deterministic.
  .ci/api-current.txt
  core/src/main/kotlin/net/corda/core/crypto/CompositeKey.kt
  core/src/main/kotlin/net/corda/core/crypto/CompositeKeyFactory.kt
  core/src/main/kotlin/net/corda/core/crypto/CordaSecurityProvider.kt
Labels: bug

#5342 ENT-3504 Statemachine IllegalStateException logging (BACKPORT)
  node/src/main/kotlin/net/corda/node/services/statemachine/SingleThreadedStateMachineManager.kt
Labels: Backport

#5343 DOCS - Fix network bootstrapper link to download (BACKPORT)
  docs/source/network-bootstrapper.rst
Labels: Backport
