Repository corda/corda, pull requests merged in 2019-08, with the labels that each got.

#5336 CORDA-3121 - Fix incorrect rendering of Independent Foundation URL (in HTML)
  docs/source/corda-network/UAT.md
Labels: Backport, bug

#5263 Add constants for the open source and samples repos branch names
  constants.properties
  docs/source/api-testing.rst
  docs/source/azure-vm.rst
  docs/source/conf.py
  docs/source/generating-a-node.rst
  docs/source/running-a-notary.rst
Labels: docs

#5349 CORDA-3127: Move evaluationDependsOn() from core to core-tests.
  core-tests/build.gradle
  core/build.gradle
  node/build.gradle
Labels: bug

#5355 Backport of ENT-3801 to OS
  core-tests/src/test/kotlin/net/corda/coretests/internal/ResolveTransactionsFlowTest.kt
  core-tests/src/test/kotlin/net/corda/coretests/internal/TopologicalSortTest.kt
  core/src/main/kotlin/net/corda/core/internal/FetchDataFlow.kt
  core/src/main/kotlin/net/corda/core/internal/ResolveTransactionsFlow.kt
  core/src/main/kotlin/net/corda/core/internal/ServiceHubCoreInternal.kt
  core/src/main/kotlin/net/corda/core/internal/TopologicalSort.kt
  core/src/main/kotlin/net/corda/core/internal/TransactionUtils.kt
  node/src/main/kotlin/net/corda/node/services/DbTransactionsResolver.kt
  node/src/main/kotlin/net/corda/node/services/InMemoryTransactionsResolver.kt
  node/src/main/kotlin/net/corda/node/services/api/ServiceHubInternal.kt
  node/src/main/kotlin/net/corda/node/services/persistence/DBTransactionStorage.kt
  node/src/main/kotlin/net/corda/node/services/statemachine/ActionExecutorImpl.kt
  node/src/main/kotlin/net/corda/node/utilities/AppendOnlyPersistentMap.kt
  node/src/main/resources/migration/node-core.changelog-master.xml
  node/src/main/resources/migration/node-core.changelog-v13.xml
  node/src/test/kotlin/net/corda/node/messaging/TwoPartyTradeFlowTests.kt
  node/src/test/kotlin/net/corda/node/migration/VaultStateMigrationTest.kt
  node/src/test/kotlin/net/corda/node/services/persistence/AppendOnlyPersistentMapNonConcurrentTest.kt
  node/src/test/kotlin/net/corda/node/services/persistence/DBTransactionStorageTests.kt
  node/src/test/kotlin/net/corda/node/services/statemachine/RetryFlowMockTest.kt
  node/src/test/kotlin/net/corda/node/services/transactions/DbTransactionsResolverTopologicalSortTest.kt
  node/src/test/kotlin/net/corda/node/services/vault/VaultWithCashTest.kt
  testing/node-driver/src/main/kotlin/net/corda/testing/node/internal/MockNetworkParametersService.kt
  testing/node-driver/src/main/kotlin/net/corda/testing/node/internal/MockTransactionStorage.kt
  testing/test-utils/src/main/kotlin/net/corda/testing/contracts/DummyContractV2.kt
Labels: Backport

#5358 CORDA-3018 Whitelisting attachments by public key - relax signer restrictions
  core-tests/src/test/kotlin/net/corda/coretests/transactions/AttachmentsClassLoaderTests.kt
  core/src/main/kotlin/net/corda/core/internal/TransactionUtils.kt
  node/src/test/kotlin/net/corda/node/services/persistence/NodeAttachmentServiceTest.kt
  testing/test-utils/src/main/kotlin/net/corda/testing/services/MockAttachmentStorage.kt
Labels: enhancement

#5360 BACKPORT: Fix links to GitHub master branches
  constants.properties
  docs/source/api-testing.rst
  docs/source/azure-vm.rst
  docs/source/conf.py
  docs/source/generating-a-node.rst
  docs/source/running-a-notary.rst
Labels: Backport, docs

#5344 [CORDA-3082] Update app upgrade notes to document source incompatibility
  docs/source/app-upgrade-notes.rst
Labels: docs

#5321 Update UAT.md
  docs/source/corda-network/UAT.md
Labels: docs

#5371 [CORDA-3149] Update cache to check node identity keys in identity table
  node/src/main/kotlin/net/corda/node/services/keys/PersistentKeyManagementService.kt
  node/src/main/kotlin/net/corda/node/services/persistence/PublicKeyToOwningIdentityCacheImpl.kt
  node/src/main/kotlin/net/corda/node/services/schema/NodeSchemaService.kt
  node/src/test/kotlin/net/corda/node/services/persistence/PublicKeyToOwningIdentityCacheImplTest.kt
  testing/node-driver/src/main/kotlin/net/corda/testing/node/MockServices.kt
  testing/node-driver/src/main/kotlin/net/corda/testing/node/internal/MockCryptoService.kt
Labels: bug

#5306 Backporting PR #5272 into release/4
  docs/source/conf.py
  docs/source/index.rst
  docs/source/quickstart-build.rst
  docs/source/quickstart-deploy.rst
  docs/source/quickstart-index.rst
Labels: Backport, docs

#5379 [ENT-4024] Use string for the status column in the transaction table
  node/src/main/kotlin/net/corda/node/services/DbTransactionsResolver.kt
  node/src/main/kotlin/net/corda/node/services/persistence/DBTransactionStorage.kt
  node/src/main/resources/migration/node-core.changelog-v13.xml
  node/src/test/kotlin/net/corda/node/migration/VaultStateMigrationTest.kt
  node/src/test/kotlin/net/corda/node/services/statemachine/RetryFlowMockTest.kt
Labels: bug

#5387 DOCS - Correct links to checkpoint-tooling.html
  docs/source/changelog.rst
  docs/source/tools-index.rst
Labels: docs

#5374 CORDA-3150 Docs command fix
  docs/source/tutorial-cordapp.rst
Labels: bug, docs
